*{
    margin: 0;
}

section{
    width: 80%;
    height: 400px;
    margin: 25px auto;
    border: 10px solid blue;
}

section:first-of-type{
    background-image: linear-gradient(90deg, green 33%, white 33%, white 67%, green 67%);
}

section:nth-of-type(2){
    background-image: radial-gradient(circle, red 25%, white 20%);
}

section:nth-of-type(3){
    background-image: linear-gradient(180deg, red 33%, white 33%, white 40%, blue 40%, blue 67%, white 40%, green 65%);
}

section:nth-of-type(4){
    background-image: linear-gradient(180deg, green 40%, yellow 33%, yellow 67%, blue 33%);
}

section:nth-of-type(5){
    background-image: linear-gradient(90deg, blue 33%, white 33%, white 67%, red 67%);
}

section:nth-of-type(6){
    background-image: linear-gradient(90deg, black 33%, yellow 33%, yellow 67%, red 67%);
}

section:nth-of-type(7){
    background-image: linear-gradient(180deg, black 40%, red 33%, red 67%, yellow 67%);
}

section:nth-of-type(8){
    background-image: 
    url(./star\ 1.png),
    linear-gradient(180deg, red 33%, yellow 33%, yellow 67%, green 67%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px, 100%;
         
}

section:nth-of-type(9){
    background-image:
    url(./yellowstar5.png), url(./yellowstar5.png), url(./yellowstar5.png), url(./yellowstar5.png), url(./yellowstar5.png);
    background-color: red;
    background-repeat: no-repeat;
    background-size: 80px, 20px, 20px, 20px, 20px;
    background-position: 70px 90PX, 200PX 70px, 230PX 120PX, 200px 170px, 150px 40px, 0;
}